{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Login</h1>

      </div>
    </div>
  </section>

<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
<div class="container">
    <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
    </form>
    <p class="text-center">Forgot password? <a href="{% url 'auth_password_reset' %}">Reset it</a></p>
    <p class="text-center">Not member? <a href="{% url 'registration_register' %}">Register</a></p>
</div>


{% endblock %}