{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}

  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Reset Done</h1>

  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

      </div>
    </div>
  </section>

{% endblock %}