{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}

  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Change your Password</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-lg btn-primary" type="submit" value="Change Password" />
        </form>
      </div>
    </div>
  </section>

{% endblock %}