{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}

  <section class="py-5 container text-left">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Reset Password</h1>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
          <form method="post">{% csrf_token %}
          <fieldset class="module aligned">
              <div class="form-row field-email">
                  {{ form.email.errors }}
                  <label for="id_email">Email address: </label>
                  {{ form.email }}
                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Reset my password">
              </div>
          </fieldset>
          </form>
      </div>
    </div>
  </section>






{% endblock %}