{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}

  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">The password has been changed!</h1>
  <p><a href="{% url 'auth_login' %}">log in again?</a></p>

      </div>
    </div>
  </section>

{% endblock %}