{% extends 'rango/base_bookshelf.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
Register
{% endblock %}

{% block body_block %}

  <section class="py-5 text-center container">

      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Register for Kanshu here! Or <a href="{% url 'auth_login' %}">Login</a> if already registered</h1>
      </div>

  </section>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="form-group" >-->
<!--            <form role="form" method="post" action=".">-->
<!--                {% csrf_token %}-->
<!--                <div class="form-group">-->
<!--                    <p class="required"><label class="required" for="id_username">-->
<!--                        Username:</label>-->
<!--                        <input class="form-control" id="id_username" maxlength="30"-->
<!--                               name="username" type="text" />-->
<!--                        <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>-->
<!--                    </p>-->
<!--                    <p class="required"><label class="required" for="id_email">-->
<!--                        E-mail:</label>-->
<!--                        <input class="form-control" id="id_email" name="email"-->
<!--                               type="email" />-->
<!--                    </p>-->
<!--                    <p class="required"><label class="required" for="id_password1">-->
<!--                        Password:</label>-->
<!--                        <input class="form-control" id="id_password1" name="password1"-->
<!--                               type="password" />-->
<!--                        <span class="helptext">Password must be 8 characters or more and not too easily guessed.</span>-->
<!--                    </p>-->
<!--                    <p class="required">-->
<!--                        <label class="required" for="id_password2">-->
<!--                            Password confirmation:</label>-->
<!--                        <input class="form-control" id="id_password2" name="password2"-->
<!--                               type="password" />-->
<!--                        <span class="helptext">Enter the same password as before, for verification.</span>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="col-lg-6 col-md-8 mx-auto">
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <p></p>
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Submit" />
</form>
</div>

{% endblock %}
