{% extends 'rango/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Add a Word
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Add a word to {{ category.name }}</h1>
        <div class="p-2"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form role="form" id="page_form" method="post" action="{% url 'rango:add_vocabulary' category.slug %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p></p>
            {{ form|crispy }}
            <div class="p-2"></div>
            <input class="btn btn-lg btn-primary" type="submit" value="Update" />
            <div class="p-5"></div>
        </form>
    </div>
</div>
{% endblock %}