<!doctype html>
<html lang="en">
{% load static %}
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<style>
/* Modify the background color */
.navbar-custom {
background-color: #99213b;
}
</style>
<style>
#work-in-progress {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  z-index: 200000;
  background-color: #FFFFFF;

}

.work-spinner {
  background-color: rgba(0,0,0,0);
  border: 9px solid rgba(27,61,226,0.9);
  opacity: .9;
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 120px;
  -webkit-box-shadow: 0 0 35px #1B3DE2;
  box-shadow: 0 0 35px #1B3DE2;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
}

@-moz-keyframes spin {
 from {
     -moz-transform: rotate(0deg);
 }
 to {
     -moz-transform: rotate(360deg);
 }
}

@-webkit-keyframes spin {
 from {
     -webkit-transform: rotate(0deg);
 }
 to {
     -webkit-transform: rotate(360deg);
 }
}

@keyframes spin {
 from {
     transform: rotate(0deg);
 }
 to {
     transform: rotate(360deg);
 }
}
@-o-keyframes spin {
 from {
     transform: rotate(0deg);
 }
 to {
     transform: rotate(360deg);
 }
}
</style>

       <style>
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#bookmark_btn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#bookmark_btn:hover {
  background-color: #333;
}
</style>


    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>
        Kanshu
    </title>

   <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <!-- Custom styles for this template -->


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/r-2.2.5/sc-2.0.2/sp-1.1.1/datatables.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">


    <style type="text/css" class="init"></style>



    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>



    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script type="text/javascript" class="init">
    $(document).ready(function() {
        $('.dataTable').DataTable({
                    pageLength: 500,
                    lengthMenu: [ 100, 200, 500, 1000, 5000, 10000 ],
                    paging: true,
                    searching: true,
                    columnDefs: [
                        { responsivePriority: 1, targets: 0 },
                        { responsivePriority: 2, targets: 1 },
                        { responsivePriority: 3, targets: -3 }
                    ],
                    dom: 'Blfrtip',
                    buttons: [ 'copy', 'excel', 'print' ]
        });
    } );
    </script>

    <style id="holderjs-style" type="text/css"></style>

    </head>

  <body>
{% include 'rango/messages.html' %}
<header>

  <div class="collapse navbar-custom" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">{{ get_about }}</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/priyesh-patel-77b77529" class="text-white">Follow on Linkedin</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="{% url 'rango:contact_us' %}" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

      <div class="navbar navbar-dark navbar-custom box-shadow">
        <div class="container d-flex justify-content-between">
      <a href="{% url 'rango:cover' %}" class="navbar-brand d-flex align-items-center">
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" class="bi bi-bookshelf" viewBox="0 0 16 16">-->
<!--          <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>-->
<!--        </svg>-->
<!--          <strong>Kanshu</strong>-->
        <img src="{% static 'images/kanshu.jpg' %}" alt="kanshu" width="140" />
      </a>
        <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-faded">
          <ul class="navbar-nav mr-auto ">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:bookshelf_user' %}">Bookshelf</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:profile' user.username %}">Your Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:kanshu_dashboard' %}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register Here</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </nav>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>

          {% if user.is_authenticated %}
            <li class="nav-item "><a class="nav-link active" aria-current="page" href="{% url 'rango:bookshelf_user' %}"><span data-feather="file"></span>Bookshelf</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:profile' user.username %}"><span data-feather="file"></span>Your Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}"><span data-feather="file"></span>Change Password</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'rango:bookshelf' %}"><span data-feather="file"></span>Bookshelf Sample</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}"><span data-feather="file"></span>Register Here</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'auth_login' %}"><span data-feather="file"></span>Login</a></li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="#Dictionary">
              <span data-feather="file"></span>
              Dictionary
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              <p class="fw-light">Requests (coming soon)</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              <p class="fw-light">Purchases (coming soon)</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              <p class="fw-light">Friends (coming soon)</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              <p class="fw-light">Reports (coming soon)</p>
            </a>
          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 ">
          <span>Excersizes (coming soon)</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              <p class="fw-light">Fill in the blanks (coming soon)</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >
              <span data-feather="file-text"></span>
                <p class="fw-light">Re-arrange the sentence (coming soon)</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard (more features coming soon!)</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><a name="Dictionary"></a>Your Dictionary</h1>
      </div>









{% if vocabulary %}
<div id="example_wrapper" class="dataTables_wrapper">
<!--    <div class="dt-buttons">-->
<!--        <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example" type="button"><span>Copy</span></button>-->
<!--        <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example" type="button"><span>Excel</span></button>-->
<!--        <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example" type="button"><span>CSV</span></button>-->
<!--        <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example" type="button"><span>PDF</span></button> -->
<!--    </div>-->
<!--	<div class="dataTables_length" id="example_length">-->
<!--		<label>Show-->
<!--		<select name="example_length" aria-controls="example" class="">-->
<!--			<option value="10">10</option>-->
<!--			<option value="25">25</option>-->
<!--			<option value="50">50</option>-->
<!--			<option value="100">100</option>-->
<!--		</select> entries-->
<!--		</label>-->
<!--	</div>-->
<!--	<div id="example_filter" class="dataTables_filter">-->
<!--		<label>Search:-->
<!--		<input type="search" class="" placeholder="" aria-controls="example">-->
<!--		</label>-->
<!--	</div>-->
	<table id="example" class="display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Chinese: activate to sort column ascending" style="width: 64px;">Chinese</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Pinyin: activate to sort column ascending" style="width: 108px;">Pinyin</th>
				<th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="English: activate to sort column descending" style="width: 47px;" aria-sort="ascending">English</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Frequency: activate to sort column ascending" style="width: 21px;">Frequency</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="HSK Level: activate to sort column ascending" style="width: 42px;">HSK Level</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 39px;">Category</th>
			    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Source: activate to sort column ascending" style="width: 39px;">Source</th>

            </tr>
		</thead>
		<tbody>
		{% for vocab in vocabulary %}

		<tr role="row" class="odd">
            <td class="">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button data-categoryid5="{{ vocab.chinese }}"
                        data-categoryid6="{{ vocab.source }}"
                        class="btn btn-outline-primary"
                        type="button"
                        id="sentence_btn" title="sentence">{{ vocab.chinese }}
                </button>
                <button data-categoryid9="{{ vocab.chinese }}"
                        data-categoryid10="{{ vocab.pinyin }}"
                        data-categoryid11="{{ vocab.english }}"
                        data-categoryid12="{{ vocab.source }}"
                        type="button" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
                </button>
                </div>
            </td>
			<td class="">{{ vocab.pinyin }}</td>
			<td class="sorting_1">{{ vocab.english }}</td>
			<td>{{ vocab.frequency }}</td>
			<td>{{ vocab.hsk }}</td>
			<td>{{ vocab.category }}</td>
            <td>{{ vocab.source }}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th rowspan="1" colspan="1">Chinese</th>
				<th rowspan="1" colspan="1">Pinyin</th>
				<th rowspan="1" colspan="1">English</th>
				<th rowspan="1" colspan="1">Frequency</th>
				<th rowspan="1" colspan="1">HSK Level</th>
				<th rowspan="1" colspan="1">Category</th>
                <th rowspan="1" colspan="1">Source</th>
			</tr>
		</tfoot>
	</table>
<!--	<div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries-->
<!--	</div>-->
<!--&lt;!&ndash;	<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">&ndash;&gt;-->
<!--		<a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="-1" id="example_previous">Previous</a>-->
<!--		<span>-->
<!--			<a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="2" tabindex="0">2</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="3" tabindex="0">3</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="4" tabindex="0">4</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="5" tabindex="0">5</a>-->
<!--			<a class="paginate_button " aria-controls="example" data-dt-idx="6" tabindex="0">6</a>-->
<!--		</span>-->
<!--		<a class="paginate_button next" aria-controls="example" data-dt-idx="7" tabindex="0" id="example_next">Next</a>-->
<!--	</div>-->
</div>
<p></p>
<p></p>
<nav aria-label="...">
  <ul class="pagination justify-content-center">
        {% if vocabulary.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% if vocabulary.number|add:'-6' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.number|add:'-6' }}">&hellip;</a></li>
        {% endif %}


        {% for i in vocabulary.paginator.page_range %}
            {% if vocabulary.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>

            {% elif i > vocabulary.number|add:'-6' and i < vocabulary.number|add:'6' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if vocabulary.paginator.num_pages > vocabulary.number|add:'6' %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.number|add:'6' }}">&hellip;</a></li>
        {% endif %}


        {% if vocabulary.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
  </ul>

</nav>
{% else %}

<p>Your dictionary words will be displayed here...</p>

{% endif %}
<p></p>
{% include "rango/word_in_sentence.html" %}

<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>




    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>

{% block body_block %}{% endblock %}
                    <!-- FOOTER -->
        <footer class="text-muted py-5">
          <div class="container">
            <p class="float-end mb-1">
              <a href="#top">Back to top</a>
            </p>
            <p class="mb-0">New to Kanshu? <a href="https://www.kanshuchinese.com/">Visit the landing page</a>.</p>
          </div>
        </footer>
</main>
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

<!--        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery.min.js"><\/script>')</script>-->
        <script src="{% static "js/rango-jquery.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/rango-ajax.js" %}" crossorigin="anonymous"></script>

  </body>
</html>
