{% extends 'rango/base_bookshelf.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Kanshu Bookshelf</h1>
        <p class="lead text-muted">This is your bookshelf. You will find some pre-uploaded sample books for you to start with. You may also upload your own content here.</p>
        <p>
          <a href="{% url 'rango:personal_kanshu_index' %}" class="btn btn-primary my-2">Upload personal content</a>
          <a href="{% url 'rango:contact_us' %}" class="btn btn-secondary my-2">Request a new book</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for about_author, about_book, title, text, author, picture, slug, words in contents %}

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ MEDIA_URL }}{{ picture }}"  alt="{{ picture }}"  height="400"/>
            <div class="card-body">
              <p class="card-text">{{text}}</p>
              <p class="card-text">Author: {{author}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'rango:kanshu_carousel' slug %}" role="button">Start Reading</a>
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'rango:index' slug %}" role="button">View data table</a>

                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#{{slug}}">
                    About
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="{{slug}}" tabindex="-1" role="dialog" aria-labelledby="{{slug}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">

                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Synopsis</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="card-text">{{ about_book }}</p>
                        </div>

                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">The Author</h5>
                        </div>
                        <div class="modal-body">
                          <p class="card-text">{{ about_author }}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
                <small class="text-muted">{{words}} words</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

                <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text font-size="4.5rem" x="50%" y="50%" fill="#eceeef" dy=".3em">+</text></svg>
            <div class="card-body">
              <p class="card-text">Upload and Kanshu your own content by going to your personal bookshelf.</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'rango:personal_kanshu_index' %}" role="button">Upload Content</a>
                </div>
                <small class="text-muted">0 content uploaded</small>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

</html>
