{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{%block body_block%}
    {% if category %}

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ category.name }}</h1>
            <div class="p-2"></div>
            <div>
                <strong id="like_count">{{ category.likes }}</strong> likes
                {% if user.is_authenticated %}
                <button id="like_btn"
                        data-categoryid="{{ category.id }}"
                        class="btn btn-primary btn-sm"
                        type="button">
                <span data-feather="thumbs-up"></span>
                Like Category
                </button>
                {% endif %}
            </div>

        </div>
    </div>




{% if vocabulary %}
<div id="example_wrapper" class="dataTables_wrapper">

	<table id="example" class="display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Chinese: activate to sort column ascending" style="width: 64px;">Chinese</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Pinyin: activate to sort column ascending" style="width: 108px;">Pinyin</th>
				<th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="English: activate to sort column descending" style="width: 47px;" aria-sort="ascending">English</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Frequency: activate to sort column ascending" style="width: 21px;">Frequency</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="HSK Level: activate to sort column ascending" style="width: 42px;">HSK Level</th>

			</tr>
		</thead>
		<tbody>
		{% for vocab in vocabulary %}
		<tr role="row" class="odd">
			<td class="">{{ vocab.chinese }}</td>
			<td class="">{{ vocab.pinyin }}</td>
			<td class="sorting_1">{{ vocab.english }}</td>
			<td>{{ vocab.frequency }}</td>
			<td>{{ vocab.hsk_lvl }}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th rowspan="1" colspan="1">Chinese</th>
				<th rowspan="1" colspan="1">Pinyin</th>
				<th rowspan="1" colspan="1">English</th>
				<th rowspan="1" colspan="1">Frequency</th>
				<th rowspan="1" colspan="1">HSK Level</th>

			</tr>
		</tfoot>
	</table>
</div>
<p></p>
<p></p>
<nav aria-label="...">
  <ul class="pagination justify-content-center">
        {% if vocabulary.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% if vocabulary.number|add:'-6' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.number|add:'-6' }}">&hellip;</a></li>
        {% endif %}


        {% for i in vocabulary.paginator.page_range %}
            {% if vocabulary.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>

            {% elif i > vocabulary.number|add:'-6' and i < vocabulary.number|add:'6' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if vocabulary.paginator.num_pages > vocabulary.number|add:'6' %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.number|add:'6' }}">&hellip;</a></li>
        {% endif %}


        {% if vocabulary.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ vocabulary.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
  </ul>

</nav>
    {% else %}
    <strong>No words currently in category.</strong>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="p-2"></div>
    <div class="row">
        <div class="col d-flex justify-content-center">
        <a class="btn btn-lg btn-primary" href="{% url 'rango:add_vocabulary' category.slug %}" role="button">Add a new word</a>
        </div>
    </div>
    {% endif %}
    {% else %}
    The specified category does not exist.
    {% endif %}

    <div class="p-2"></div>

{% endblock %}