{% extends 'rango/base_bookshelf.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>Contact Us</center></h1>
        <div class="p-2"></div>
    </div>
</div>

<p class="float-right"><a href="#bottom">Go to bottom</a></p>


<div class="p-2"></div>


<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="p-2"></div>
    <input type="submit" value="Submit" />
</form>


<div class="p-2"></div>
<div class="p-2"></div>

<a name="bottom"></a>
{% endblock %}