<!doctype html>
{% load static %}
<html lang="en">
  <head>
<style type="text/css">
   body { background: #99213b !important; }
</style>
<style>
.popover-header{
    background: black;
}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cover page for Kanshu</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" class="bi bi-bookshelf" viewBox="0 0 16 16">-->
<!--          <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>-->
<!--        </svg>-->
<!--          <strong>Kanshu</strong>-->

<!--          <h3 class="masthead-brand">kanshu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>-->
          <nav class="nav nav-masthead justify-content-center">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'rango:bookshelf_user' %}">Bookshelf</a>
            <a class="nav-link" href="{% url 'rango:profile' user.username %}">Your Profile</a>
            <a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
            <a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a>
            {% else %}
            <a class="nav-link" href="{% url 'rango:bookshelf' %}">Bookshelf Sample</a>
            <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
            <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
            {% endif %}
          </nav>

        </div>

      </header>

      <main role="main" class="inner cover">
<div class="container pb-5 my-3">
<img src="{% static 'images/kanshu.jpg' %}" alt="kanshu" width="250" />
</div>
<!--        <div class="row">-->
<!--          <div class="col d-flex justify-content-center">-->
<!--            <div id="pinyin_btn" class="form-check form-switch">-->
<!--              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked/>-->
<!--              <label class="form-check-label" for="flexSwitchCheckChecked">Toggle assisted reading</label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p></p>-->
<!--        <p></p>-->
<!--          <div class="textarea d-flex flex-wrap text-center">-->
<!--            <a tabindex="0" data-trigger="focus" data-container="body" title="Frequency: 1"-->
<!--               data-placement="top" data-toggle="popover"-->
<!--               data-content="欢迎 <br />huanying <br /> welcome"><h5-->
<!--               class="no-segment" data-id="1" style="letter-spacing: 4px">欢迎</h5>-->
<!--            </a>-->
<!--            <a tabindex="0" data-trigger="focus" data-container="body" title="Frequency: 1"-->
<!--               data-placement="top" data-toggle="popover"-->
<!--               data-content="来到 <br />laidao <br /> to"><h5-->
<!--               class="no-segment" data-id="2" style="letter-spacing: 4px">来到</h5>-->
<!--            </a>-->
<!--            <a tabindex="0" data-trigger="focus" data-container="body" title="Frequency: 1"-->
<!--               data-placement="top" data-toggle="popover"-->
<!--               data-content="看书 <br />kanshu <br /> kanshu"><h5-->
<!--               class="no-segment" data-id="3" style="letter-spacing: 4px">看书</h5>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="d-flex flex-wrap text-center overflow: hidden;">-->
<!--            <ol>-->
<!--              <h4 class="segment" data-id="1" style="letter-spacing: 0px">欢迎</h4>-->
<!--              <p class="pinyin">huanying</p>-->
<!--              <p class="eng eng1">welcome</p>-->
<!--            </ol>-->
<!--            <ol>-->
<!--              <h4 class="segment" data-id="2" style="letter-spacing: 0px">来到</h4>-->
<!--              <p class="pinyin">laidao</p>-->
<!--              <p class="eng eng2">to</p>-->
<!--            </ol>-->
<!--            <ol>-->
<!--              <h4 class="segment" data-id="3" style="letter-spacing: 0px">看书</h4>-->
<!--              <p class="pinyin">kanshu</p>-->
<!--              <p class="eng eng3">kanshu</p>-->
<!--            </ol>-->
<!--          </div>-->


<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({html:true,placement:'top',trigger: 'focus',});
});
$('.popover').css('background-color', 'red');
</script>


<div class="col-sm d-flex justify-content-center">
<div class="textarea d-flex flex-wrap text-center">
        <a href="#" data-trigger="focus" data-container="body" title="Frequency: 1"
           data-placement="top" data-toggle="popover"
           data-content="欢迎 <br />huanying <br /> welcome"><h3
           class="cover-heading" data-id="1" style="letter-spacing: 4px">欢迎</h3>
        </a>
        <a href="#" data-trigger="focus" data-container="body" title="Frequency: 1"
           data-placement="top" data-toggle="popover"
           data-content="来到 <br />laidao <br /> to"><h3
           class="cover-heading text-center" data-id="1" style="letter-spacing: 4px">来到</h3>
        </a>
        <a href="#" data-trigger="focus" data-container="body" title="Frequency: 1"
           data-placement="top" data-toggle="popover"
           data-content="kanshu <br />kanshu <br /> kanshu"><h3
           class="cover-heading" data-id="1" style="letter-spacing: 4px">看书</h3>
        </a>
        <h3 class="cover-heading">!</h3>
</div>
</div>


        <h3 class="cover-heading">Welcome to kanshu!</h3>
        <p class="lead">Enter the kanshu MVP app here.</p>
        <p class="lead">
            {% if user.is_authenticated %}
          <a href="{% url 'rango:bookshelf_user' %}" class="btn btn-lg btn-secondary">Start Reading</a>
            {% else %}
            <a href="{% url 'rango:bookshelf' %}" class="btn btn-lg btn-secondary">Start Reading</a>
            {% endif %}
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover page for kanshu app (coded by Priyesh Patel).</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>

  </body>
</html>

