{% extends 'rango/base_bookshelf.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Edit</h1>
        <div class="p-2"></div>
        <p>Sometimes Kanshu makes a mistake (especially with names!) and incorrectly make or split a word in the middle.
            You can add this word to Kanshu here. After you add the word it will be correctly identified and displayed
            in the future</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <form role="form" id="category_form" method="post" action="{% url 'rango:edit' source %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p></p>
            {{ form|crispy }}
            <div class="p-2"></div>
            <input class="btn btn-lg btn-primary" type="submit" value="Edit" />
            <p></p>
            <p class="lead text-muted">Note: Clicking Edit will start the process to make the changes through the book. This may take a few minutes to complete and will return you to the bookshelf page.</p>
        </form>


    </div>
</div>


{% endblock %}