{% extends 'rango/base_kanshu_carousel.html' %}
{% load static %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>



{% block title_block %}
    Kanshu Sentence
{% endblock %}

        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom p-0 text-white">
                <a class="navbar-brand p-2" href="{% url 'rango:cover' %}">Kanshu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:edit' source.slug %}">Edit</a></li>
                    </ul>
                </div>
            </nav>
        </header>

{% block body_block %}
{% include 'rango/messages.html' %}
    <div class="row py-lg-5">
        <p></p>
        <p></p>
    </div>

  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ title }}</h1>
          <h6 class="fw-light">Select reading mode</h6>
          <div class="btn-group">
          <a href="" class="btn btn-secondary disabled" role="button">Book Mode (Active)</a>
          <a href="{% url 'rango:kanshu_carousel' source.slug %}" class="btn btn-primary" role="button" aria-disabled="true">Flashcard mode</a>
          </div>
                <p></p>
        <p></p>
        <p class="lead text-muted">Found Kanshu hasn't recognised a word correctly? Head to the <a href="{% url 'rango:edit' source.slug %}"><b>Edit page</b></a> and fix it!</p>
        <p class="lead text-muted">Want more features? <a href="{% url 'rango:contact_us' %}"><b>Contact Us</b></a> with what you want!</p>
      </div>
    </div>
  </section>


<div class="row">
    <div class="col d-flex justify-content-center">
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
        Chapters
    </button>
    </div>
</div>
<p></p>
    <div class="collapse" id="collapseExample2">
    <div class="card bg-light border-dark mb-3">
    <div class="card-body text-dark">
        <div class="row">
            <div class="col d-flex justify-content-center">
                 <div class="list-group">

                        <button class="remove_button_css btn-block"> <p class="float-left">Section-Chapter</p><p class="float-right">Sentence #</p></button>

                     {% for chapter in chapter_list %}

                        <form action="{% url 'rango:kanshu_sentence' source.slug %}" method='post'>
                            {% csrf_token %}
                           <button class="remove_button_css btn-block"
                                   name='sentence_number'
                                   value="{{ chapter.start_sentence_num }}">
                               {% if chapter.section_title %}
                               <p class="float-left">{{ chapter.section_num }}. {{ chapter.section_title }}. {{ chapter.chapter_num }}. {{ chapter.chapter_title }}</p> <p class="float-right">{{ chapter.start_sentence_num }}</p>
                               {% else %}
                               <p class="float-left">{{ chapter.chapter_num }}. {{ chapter.chapter_title }}</p> <p class="float-right">{{ chapter.start_sentence_num }}</p>
                               {% endif %}
                           </button>
                        </form>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


<div class="row">
    <div class="col d-flex justify-content-end">
    <p><a href="#bottom">Go to bottom</a></p>
    </div>
</div>

<div class="row">
<div class="col d-flex justify-content-center">
    <form class="form-inline" id="user-form" method="post" action="{% url 'rango:kanshu_sentence' source.slug %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sentence: </span>
                    <input class="form-control" type="text" size="4" name="sentence_number" id="sentence_number" value="{{ sentence_number }}" placeholder=""/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Go</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</div>



<script>
    var s ,x, y, btn_dis;
    s = parseInt({{sentence_number}});
    x = s + 16;
    y = s - 16;
    if (s === 1 ) { y = 1; btn_dis = true; };
    x = String(x);
    y = String(y);
</script>
<script>

function OnloadFunction100 ()
{
$('button[data-categoryid1]').on('click',
function() {
var chineseIdVar;
var requested_to = $(this).attr('data-categoryid0');
chineseIdVar = $(this).attr('data-categoryid1');
pinyinIdVar = $(this).attr('data-categoryid2');
englishIdVar = $(this).attr('data-categoryid3');
sourceIdVar = $(this).attr('data-categoryid4');
$.get(
'/rango/add_word2dict/', {'chinese': chineseIdVar, 'pinyin': pinyinIdVar,'english': englishIdVar, 'source_title_slug': sourceIdVar}, function(data) {
$('#add2dict_num').html(data);
})

});
}

$(document).ready(function () {
    OnloadFunction100();

});

$(document).ajaxComplete(function () {
    OnloadFunction100();

});
</script>



<p></p>
<div class="row">
    <div class="col d-flex justify-content-center">
    <form action="{% url 'rango:kanshu_sentence' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
    </form>
    </div>
</div>
<p></p>

<script>document.getElementById("prev").value = y </script>
<script>document.getElementById("next").value = x </script>
<script>document.getElementById("prev").disabled = btn_dis </script>
<p></p>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div id="pinyin_btn" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
          <label class="form-check-label" for="flexSwitchCheckChecked">Toggle assisted reading</label>
        </div>
    </div>
</div>
<p></p>



<p></p>
<div class="container-fluid container-md pt-3 my-3 border">

    <div class="textarea d-flex flex-wrap text-center">
{% for result in sides %}
   <a tabindex="0" data-trigger="focus" data-container="body" title="Frequency: {{ result.frequency }}"  data-placement="top" data-toggle="popover" data-content="{{ result.chinese }} <br />{{ result.pinyin }} <br /> {{ result.english}}"> <h5 class="no-segment" data-id="{{ result.num }}" style="letter-spacing: 4px">{{ result.chinese}} </h5></a>
{% endfor %}
</div>



<div class="d-flex flex-wrap text-center overflow: hidden;">
{% for result in sides %}
<ol>
    <h4 class="segment" data-id="{{ result.num }}" style="letter-spacing: 0px">{{ result.chinese }}</h4>
    <p class="pinyin">{{ result.pinyin }}</p>
    <p class="eng eng{{ result.num }}">{{ result.english }}</p>
</ol>

<div class="modal modal{{ result.num }}" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add {{ result.chinese }} to dictionary</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <button data-categoryid0="{{ result.num }}" data-categoryid1="{{ result.chinese }}" data-categoryid2="{{ result.pinyin }}" data-categoryid3="{{ result.english }}"
        data-categoryid4="{{ source.slug }}" id="add2dict_btn" type="button" class="btn btn-outline-primary">Add to dictionary</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

{% endfor %}
</div>
</div>



<script>
    var a ,b, c, btn_dis;
    a = parseInt({{adjust}});
    b = a + 16;
    c = a - 16;
<!--    if (a === 1 ) { c = 1; btn_dis = true; };-->
    b = String(b);
    c = String(c);
</script>

<div class="row">
    <div class="col d-flex justify-content-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show english translation!
    </button>
    </div>
</div>
<p></p>

<div class="row">
    <div class="collapse" id="collapseExample">
    <div class="card bg-light border-dark mb-3">
    <div class="card-body text-dark">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    <form class="form-inline" id="user-form2" method="post" action="{% url 'rango:mother_text_helper_sentence' source.slug %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" type="text" size="4" name="adjust" id="adjust" value="{{ adjust }}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Adjust</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <form action="{% url 'rango:mother_text_helper_sentence' source.slug %}" method="post">
                        {% csrf_token %}
                        <div class="btn-group" role="group" aria-label="adjprevnext">
                            <button class="btn btn-primary" id="adjust-5" type="submit" value="5" name="adjust" style="width:100px">-5</button>
                            <button class="btn btn-primary" id="adjust+5" type="submit" value="5" name="adjust" style="width:100px">+5</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <p></p>
        <div class="row">
            <div class="col d-flex justify-content-center">
            <div class="card-body text-dark">
            {% if mother_text %}
            {% for sentence in mother_text %}
                <p class="card-text">{{ sentence.number }}: &nbsp;&nbsp;  {{ sentence.mother }}</p>
            {% endfor %}
            {% else %}
                <p class="card-text">Translated text coming soon!</p>
            {% endif %}
            </div>
            </div>
        </div>{% extends 'rango/base_kanshu_carousel.html' %}
{% load static %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>



{% block title_block %}
    Kanshu Sentence
{% endblock %}

        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom p-0 text-white">
                <a class="navbar-brand p-2" href="{% url 'rango:cover' %}">Kanshu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'rango:edit' source.slug %}">Edit</a></li>
                    </ul>
                </div>
            </nav>
        </header>

{% block body_block %}
{% include 'rango/messages.html' %}
    <div class="row py-lg-5">
        <p></p>
        <p></p>
    </div>

  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ title }}</h1>
          <h6 class="fw-light">Select reading mode</h6>
          <div class="btn-group">
          <a href="" class="btn btn-secondary disabled" role="button">Book Mode (Active)</a>
          <a href="{% url 'rango:kanshu_carousel' source.slug %}" class="btn btn-primary" role="button" aria-disabled="true">Flashcard mode</a>
          </div>
                <p></p>
        <p></p>
        <p class="lead text-muted">Found Kanshu hasn't recognised a word correctly? Head to the <a href="{% url 'rango:edit' source.slug %}"><b>Edit page</b></a> and fix it!</p>
        <p class="lead text-muted">Want more features? <a href="{% url 'rango:contact_us' %}"><b>Contact Us</b></a> with what you want!</p>
      </div>
    </div>
  </section>


<div class="row">
    <div class="col d-flex justify-content-center">
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
        Chapters
    </button>
    </div>
</div>
<p></p>
    <div class="collapse" id="collapseExample2">
    <div class="card bg-light border-dark mb-3">
    <div class="card-body text-dark">
        <div class="row">
            <div class="col d-flex justify-content-center">
                 <div class="list-group">

                        <button class="remove_button_css btn-block"> <p class="float-left">Section-Chapter</p><p class="float-right">Sentence #</p></button>

                     {% for chapter in chapter_list %}

                        <form action="{% url 'rango:kanshu_sentence' source.slug %}" method='post'>
                            {% csrf_token %}
                           <button class="remove_button_css btn-block"
                                   name='sentence_number'
                                   value="{{ chapter.start_sentence_num }}">
                               {% if chapter.section_title %}
                               <p class="float-left">{{ chapter.section_num }}. {{ chapter.section_title }}. {{ chapter.chapter_num }}. {{ chapter.chapter_title }}</p> <p class="float-right">{{ chapter.start_sentence_num }}</p>
                               {% else %}
                               <p class="float-left">{{ chapter.chapter_num }}. {{ chapter.chapter_title }}</p> <p class="float-right">{{ chapter.start_sentence_num }}</p>
                               {% endif %}
                           </button>
                        </form>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


<div class="row">
    <div class="col d-flex justify-content-end">
    <p><a href="#bottom">Go to bottom</a></p>
    </div>
</div>

<div class="row">
<div class="col d-flex justify-content-center">
    <form class="form-inline" id="user-form" method="post" action="{% url 'rango:kanshu_sentence' source.slug %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sentence: </span>
                    <input class="form-control" type="text" size="4" name="sentence_number" id="sentence_number" value="{{ sentence_number }}" placeholder=""/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Go</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</div>



<script>
    var s ,x, y, btn_dis;
    s = parseInt({{sentence_number}});
    x = s + 16;
    y = s - 16;
    if (s === 1 ) { y = 1; btn_dis = true; };
    x = String(x);
    y = String(y);
</script>
<script>

function OnloadFunction100 ()
{
$('button[data-categoryid1]').on('click',
function() {
var chineseIdVar;
var requested_to = $(this).attr('data-categoryid0');
chineseIdVar = $(this).attr('data-categoryid1');
pinyinIdVar = $(this).attr('data-categoryid2');
englishIdVar = $(this).attr('data-categoryid3');
sourceIdVar = $(this).attr('data-categoryid4');
$.get(
'/rango/add_word2dict/', {'chinese': chineseIdVar, 'pinyin': pinyinIdVar,'english': englishIdVar, 'source_title_slug': sourceIdVar}, function(data) {
$('#add2dict_num').html(data);
})

});
}

$(document).ready(function () {
    OnloadFunction100();

});

$(document).ajaxComplete(function () {
    OnloadFunction100();

});
</script>



<p></p>
<div class="row">
    <div class="col d-flex justify-content-center">
    <form action="{% url 'rango:kanshu_sentence' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
    </form>
    </div>
</div>
<p></p>

<script>document.getElementById("prev").value = y </script>
<script>document.getElementById("next").value = x </script>
<script>document.getElementById("prev").disabled = btn_dis </script>
<p></p>
<div class="row">
    <div class="col d-flex justify-content-center">
        <div id="pinyin_btn" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
          <label class="form-check-label" for="flexSwitchCheckChecked">Toggle assisted reading</label>
        </div>
    </div>
</div>
<p></p>



<p></p>
<div class="container-fluid container-md pt-3 my-3 border">

    <div class="textarea d-flex flex-wrap text-center">
{% for result in sides %}
   <a tabindex="0" data-trigger="focus" data-container="body" title="Frequency: {{ result.frequency }}"  data-placement="top" data-toggle="popover" data-content="{{ result.chinese }} <br />{{ result.pinyin }} <br /> {{ result.english}}"> <h5 class="no-segment" data-id="{{ result.num }}" style="letter-spacing: 4px">{{ result.chinese}} </h5></a>
{% endfor %}
</div>



<div class="d-flex flex-wrap text-center overflow: hidden;">
{% for result in sides %}
<ol>
    <h4 class="segment" data-id="{{ result.num }}" style="letter-spacing: 0px">{{ result.chinese }}</h4>
    <p class="pinyin">{{ result.pinyin }}</p>
    <p class="eng eng{{ result.num }}">{{ result.english }}</p>
</ol>

<div class="modal modal{{ result.num }}" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add {{ result.chinese }} to dictionary</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <button data-categoryid0="{{ result.num }}" data-categoryid1="{{ result.chinese }}" data-categoryid2="{{ result.pinyin }}" data-categoryid3="{{ result.english }}"
        data-categoryid4="{{ source.slug }}" id="add2dict_btn" type="button" class="btn btn-outline-primary">Add to dictionary</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

{% endfor %}
</div>
</div>



<script>
    var a ,b, c, btn_dis;
    a = parseInt({{adjust}});
    b = a + 16;
    c = a - 16;
<!--    if (a === 1 ) { c = 1; btn_dis = true; };-->
    b = String(b);
    c = String(c);
</script>

<div class="row">
    <div class="col d-flex justify-content-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show english translation!
    </button>
    </div>
</div>
<p></p>

<div class="row">
    <div class="collapse" id="collapseExample">
    <div class="card bg-light border-dark mb-3">
    <div class="card-body text-dark">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    <form class="form-inline" id="user-form2" method="post" action="{% url 'rango:mother_text_helper_sentence' source.slug %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" type="text" size="4" name="adjust" id="adjust" value="{{ adjust }}" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Adjust</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <form action="{% url 'rango:mother_text_helper_sentence' source.slug %}" method="post">
                        {% csrf_token %}
                        <div class="btn-group" role="group" aria-label="adjprevnext">
                            <button class="btn btn-primary" id="adjust-5" type="submit" value="5" name="adjust" style="width:100px">-5</button>
                            <button class="btn btn-primary" id="adjust+5" type="submit" value="5" name="adjust" style="width:100px">+5</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <p></p>
        <div class="row">
            <div class="col d-flex justify-content-center">
            <div class="card-body text-dark">
            {% if mother_text %}
            {% for sentence in mother_text %}
                <p class="card-text">{{ sentence.number }}: &nbsp;&nbsp;  {{ sentence.mother }}</p>
            {% endfor %}
            {% else %}
                <p class="card-text">Translated text coming soon!</p>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

<p></p>



<div class="row">
    <div class="col d-flex justify-content-center">
    <form action="{% url 'rango:kanshu_sentence' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev2" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next2" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
    </form>
    </div>
</div>


<p></p>

<script>document.getElementById("adjust-5").value = c </script>
<script>document.getElementById("adjust+5").value = b </script>
<!--<script>document.getElementById("adjust-5").disabled = btn_dis </script>-->

<script>document.getElementById("prev2").value = y </script>
<script>document.getElementById("next2").value = x </script>
<script>document.getElementById("prev2").disabled = btn_dis </script>



<a name="bottom"></a>




{% endblock %}

    </div>
    </div>
    </div>
</div>

<p></p>



<div class="row">
    <div class="col d-flex justify-content-center">
    <form action="{% url 'rango:kanshu_sentence' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev2" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next2" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
    </form>
    </div>
</div>


<p></p>

<script>document.getElementById("adjust-5").value = c </script>
<script>document.getElementById("adjust+5").value = b </script>
<!--<script>document.getElementById("adjust-5").disabled = btn_dis </script>-->

<script>document.getElementById("prev2").value = y </script>
<script>document.getElementById("next2").value = x </script>
<script>document.getElementById("prev2").disabled = btn_dis </script>



<a name="bottom"></a>




{% endblock %}
