{% extends 'rango/base_bookshelf_index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Personal Kanshu
{% endblock %}

{% block body_block %}



  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Personal Kanshu Bookshelf</h1>
        <p class="lead text-muted">This is your personal upload bookshelf. Manage your own content on this page.</p>
        <p class="lead text-muted">Something broken or have a special request?</p>
          <a href="{% url 'rango:contact_us' %}" class="btn btn-secondary my-2">Contact us!</a>

      </div>
    </div>
  </section>
<div class="row">
    <div class="col d-flex justify-content-end">
    <p><a href="#bottom">Go to bottom</a></p>
    </div>
</div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text font-size="4.5rem" x="50%" y="50%" fill="#eceeef" dy=".3em">+</text></svg>
            <div class="card-body">
              <p class="card-text">Upload and Kanshu your own content here. Your content will then appear in your personal bookshelf.</p>
                <div class="d-flex justify-content-between align-items-center">

                    <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-sm btn-outline-secondary" type="submit" value="Upload your file" />
                    </form>

                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text font-size="4.5rem" x="50%" y="50%" fill="#eceeef" dy=".3em">-</text></svg>
            <div class="card-body">
              <p class="card-text">Select and Delete your Kanshu'd content here.</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'rango:personal_kanshu_index_delete' %}" role="button">Delete Content</a>
                </div>
                <small class="text-muted">0 content uploaded</small>
                </div>
            </div>
          </div>
        </div>



          {% for source in sources %}

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <text font-size="1.0rem" x="50%" y="50%" fill="#eceeef" dy=".3em">{{source}}</text></svg>
            <div class="card-body">
              <p class="card-text">{{source}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'rango:personal_kanshu_source' source.slug %}" role="button">Start Reading</a>


              </div>
                  <small class="text-muted">0 words</small>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>











<div class="p-2"></div>

      {% if sources %}

        <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Personal index table</h1>
        <p class="lead text-muted">See some stats on your personal vocab below!</p>


      </div>
    </div>
  </section>

      {% endif %}

{% if uservocabulary %}
<div id="example_wrapper" class="dataTables_wrapper">
	<table id="example" class="display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Chinese: activate to sort column ascending" style="width: 64px;">Chinese</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Pinyin: activate to sort column ascending" style="width: 108px;">Pinyin</th>
				<th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="English: activate to sort column descending" style="width: 47px;" aria-sort="ascending">English</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Frequency: activate to sort column ascending" style="width: 21px;">Frequency</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="HSK Level: activate to sort column ascending" style="width: 42px;">HSK Level</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 39px;">Category</th>
			    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Sources: activate to sort column ascending" style="width: 39px;">Sources</th>
            </tr>
		</thead>
		<tbody>
		{% for vocab in uservocabulary %}
		<tr role="row" class="odd">
			<td class="">{{ vocab.chinese }}</td>
			<td class="">{{ vocab.pinyin }}</td>
			<td class="sorting_1">{{ vocab.english }}</td>
			<td>{{ vocab.frequency }}</td>
			<td>{{ vocab.hsk_lvl }}</td>
			<td>{{ vocab.category__name }}</td>
            <td>{{ vocab.source__title }}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th rowspan="1" colspan="1">Chinese</th>
				<th rowspan="1" colspan="1">Pinyin</th>
				<th rowspan="1" colspan="1">English</th>
				<th rowspan="1" colspan="1">Frequency</th>
				<th rowspan="1" colspan="1">HSK Level</th>
				<th rowspan="1" colspan="1">Category</th>
                <th rowspan="1" colspan="1">Sources</th>
			</tr>
		</tfoot>
	</table>
</div>

<div class="p-2"></div>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
        {% if uservocabulary.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% if uservocabulary.number|add:'-6' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.number|add:'-6' }}">&hellip;</a></li>
        {% endif %}


        {% for i in uservocabulary.paginator.page_range %}
            {% if uservocabulary.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>

            {% elif i > uservocabulary.number|add:'-6' and i < uservocabulary.number|add:'6' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if uservocabulary.paginator.num_pages > uservocabulary.number|add:'6' %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.number|add:'6' }}">&hellip;</a></li>
        {% endif %}


        {% if uservocabulary.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ uservocabulary.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
  </ul>
</nav>
{% endif %}
<div class="p-2"></div>
<a name="bottom"></a>

{% endblock %}
