{% extends 'rango/base_kanshu_carousel.html' %}
{% load static %}

{% block title_block %}
    Personal Kanshu
{% endblock %}

{% block body_block %}

<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>{{ source }}</center></h1>

        <div class="row"><div class="row"><p></p></div></div>
        <p>Note: Push the words' spinner to change background colour for that word wherever you see it! (after page reload)</p>
        <p>Found Kanshu hasn't recognised a word correctly? Head to the <a href="{% url 'rango:useredit' %}"><b>Edit page</b></a> and fix it!</p>
        <p>Want more features? <a href="{% url 'rango:contact_us' %}">Contact Us</a> with what you want!</p>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-end">
    <p><a href="#bottom">Go to bottom</a></p>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <form class="form-inline" id="user-form" method="post" action="{% url 'rango:personal_kanshu_source' source.slug  %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sentence: </span>
                    <input class="form-control" type="text" size="4" name="sentence_number" id="sentence_number" value="{{ sentence_number }}" placeholder="1"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Go</button>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </div>
</div>

<script>
    var s ,x, y, btn_dis;
    s = parseInt({{sentence_number}});
    x = s + 5;
    y = s - 5;
    if (s === 1 ) { y = 1; btn_dis = true; };
    x = String(x);
    y = String(y);
</script>

<p></p>
<div class="row">
    <div class="col d-flex justify-content-center">
        <form action="{% url 'rango:personal_kanshu_source' source.slug %}" method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="prevnext">
        <button class="btn btn-primary" id="prev" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
        <button class="btn btn-primary" id="next" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
        </div>
        </form>
    </div>
</div>
<p></p>

<script>document.getElementById("prev").value = y </script>
<script>document.getElementById("next").value = x </script>
<script>document.getElementById("prev").disabled = btn_dis </script>


<!--<button class="btn btn-primary"-->
<!--        onclick="{% url 'rango:kanshu_carousel' %}">-->
<!--    Click me - I run on vanilla JavaScript!-->
<!--</button>-->

<!-- Wrapper for carousel items -->

{% for result in sides %}
{% csrf_token %}
  <div id="{{ result.chinese }}" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true" data-pause="hover" data-touch="true">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active" >
      {% if result.learnt == 1 %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title><h1 >{{ result.chinese }}</h1></title><rect class="svg{{ result.chinese }}" width="100%" height="100%" fill="#777" fill-opacity="0.9" /></svg>
      {% else %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title><h1 >{{ result.chinese }}</h1></title><rect class="svg{{ result.chinese }}" width="100%" height="100%" fill="#ff6666" /></svg>
      {% endif %}
          <div class="carousel-caption">
            {% if user.is_authenticated %}
                <div>
                  {% csrf_token %}
                  <div class="toast toast{{ result.id }}" style="position: absolute; top: 0; right: 0;">
                    <div class="toast-header">
                      {% if result.learnt == 1 %}
                        <strong class="mr-auto">Not learnt</strong>
                        <small class="text-muted">:(</small>
                      {% else %}
                        <strong class="mr-auto">Learnt</strong>
                        <small class="text-muted">:)</small>
                      {% endif %}
                    </div>
                    <div class="toast-body">
                      {% if result.learnt == 1 %}
                        <p class="text-dark">Future colour: RED</p>
                      {% else %}
                        <p class="text-dark">Future colour: NORMAL</p>
                      {% endif %}
                    </div>
                  </div>
                <button data-id="{{ result.id }}"
                        data-userpreviousid="{{ result.id }}"
                        class="btn btn-lg bg-transparent {{ result.id }}"
                        type="button">
                <span class="spinner-border text-danger"></span>
                </button>
                    <h1>{{ result.chinese }}</h1>
                </div>
            {% endif %}
            <p>{{ result.previous }} / {{ result.frequency }}</p>
        </div>
      </div>
      <div class="carousel-item">
      {% if result.learnt == 1 %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#666" fill-opacity="0.9" /></svg>
      {% else %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff6666" /></svg>
      {% endif %}
        <div class="carousel-caption">
          <h1>{{ result.chinese }}</h1>
          <h4>{{ result.pinyin }}</h4>
        </div>
      </div>
      <div class="carousel-item">
      {% if result.learnt == 1 %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#555" fill-opacity="0.9" /></svg>
      {% else %}
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff6666" /></svg>
      {% endif %}
        <div class="carousel-caption">
          <h1>{{ result.chinese }}</h1>
          <h4>{{ result.pinyin }}</h4>
          <p>{{ result.english }}</p>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#{{ result.chinese }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ result.chinese }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <p> </p>
{% endfor %}






<p>
<div class="row">
    <div class="col d-flex justify-content-center">
        <form action="{% url 'rango:personal_kanshu_source' source.slug %}" method="post">
            {% csrf_token %}
            <div class="btn-group" role="group" aria-label="prevnext">
            <button class="btn btn-primary" id="prev2" type="submit" value="1" name="sentence_number" style="width:100px" >Previous</button>
            <button class="btn btn-primary" id="next2" type="submit" value="1" name="sentence_number" style="width:100px">Next</button>
            </div>
        </form>
    </div>
</div>
</p>




<script>document.getElementById("prev2").value = y </script>
<script>document.getElementById("next2").value = x </script>
<script>document.getElementById("prev2").disabled = btn_dis </script>

<p><a href="{% url 'rango:personal_kanshu_index' %}">Back to personal kanshu index page</a></p>
<a name="bottom"></a>
{% endblock %}
