{% extends 'rango/base_kanshu_carousel.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}
    Personal Kanshu
{% endblock %}

{% block body_block %}
<div class="p-2"></div>
<div class="p-2"></div>
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>Personal Kanshu Delete Page</center></h1>
        <div class="p-2"></div>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4><center>Select from your uploaded files to delete</center></h4>
        <div class="p-2"></div>
    <div class="col justify-content-center">
        {% if sources %}
        <div class="list-group">
          {% for source in sources %}
              <a class="list-group-item list-group-item-action text-primary" href="{% url 'rango:personal_kanshu_source_delete' source.slug %}">{{ source }}</a>
          {% endfor %}
              <a class="list-group-item list-group-item-action text-primary" href="{% url 'rango:personal_kanshu_index' %}">RETURN TO INDEX PAGE</a>
        </div>
        {% else %}
           You have not uploaded any files yet. Your files will be displayed here.
        {% endif %}
    </div>
    </div>
</div>

{% endblock %}