{% extends 'rango/base_bookshelf.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
Registration - Step 2
{% endblock %}

{% block body_block %}



<section class="py-5 text-center container">

  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">Registation step 2: Optional information (can leave blank)</h1>
  </div>

</section>

<div class="col-lg-6 col-md-8 mx-auto">
<div class="container">
    <div class="row">
        <form method="post"
        action="{% url 'rango:register_profile' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
            <p></p>
        <input class="btn btn-success" type="submit" value="Create Profile" />
        </form>
    </div>
</div>
</div>

<p></p>
{% endblock %}