{% extends 'rango/base_restricted.html' %}
{% load static %}

{% block title_block %}
    Restricted Page
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading"><center>Restricted Page</center></h1>
        <div>
            <div class="p-2"></div>
            <h6><center>For personal use and testing only.</center></h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-end">
    <p><a href="#bottom">Go to bottom</a></p>
    </div>
</div>

<div class="card">
    <div class="card-body">
    Useful links about text analysis and NLP:
    <ul>
    <li><a href="http://blogs.lessthandot.com/index.php/artificial-intelligence/automated-keyword-extraction-tf-idf-rake-and-textrank/">http://blogs.lessthandot.com/index.php/artificial-intelligence/automated-keyword-extraction-tf-idf-rake-and-textrank/</a></li>
    <li><a href="https://github.com/jsrpy/Chinese-NLP-Jieba/blob/master/jieba_intro.ipynb">https://github.com/jsrpy/Chinese-NLP-Jieba/blob/master/jieba_intro.ipynb</a></li>
    <li><a href="https://blog.csdn.net/kevin_darkelf/article/details/39520881">https://blog.csdn.net/kevin_darkelf/article/details/39520881</a></li>
    <li><a href="http://textalyser.net">http://textalyser.net</a></li>
    <li><a href="https://monkeylearn.com/text-analysis/">https://monkeylearn.com/text-analysis/</a></li>
    <li><a href="https://countwordsfree.com/stopwords/chinese">https://countwordsfree.com/stopwords/chinese</a></li>
    <li><a href="https://www.ranks.nl/stopwords/chinese-stopwords">https://www.ranks.nl/stopwords/chinese-stopwords</a></li>
    <li><a href="https://github.com/fxsjy/jieba/blob/master/extra_dict/stop_words.txt">https://github.com/fxsjy/jieba/blob/master/extra_dict/stop_words.txt</a></li>



    </ul>
    Useful keywords:
    <ul>

    <li>NLP natural language processing</li>
    <li>POS Position of speech</li>
    </ul>
    </div>
</div>

<a name="bottom"></a>
{% endblock %}