<!doctype html>
<html lang="en">
{% load static %}



<h1>Speech synthesiser</h1>
<p>Enter some text in the input below and press return to hear it. change voices using the dropdown menu.</p>

<form>
  <input type="text" class="txt" value="{{ sentence_number }}">
  <div class="input-group-append">`
     <button class="btn btn-primary" type="submit">Go</button>
  </div>
  <div>
    <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
    <div class="rate-value">1</div>
    <div class="clearfix"></div>
  </div>
  <div>
    <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
    <div class="pitch-value">1</div>
    <div class="clearfix"></div>
  </div>
  <select>

  </select>
</form>


</body>

<script src="{% static "js/textToSpeech.js" %}" crossorigin="anonymous"></script>

</html>