{% extends 'rango/base_bookshelf.html' %}

{% block title_block %}
    Reset Confirm
{% endblock %}

{% block body_block %}

  {% load crispy_forms_tags %}

  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>

{% endblock %}